.example-card {
  max-width: 400px;
  margin: 40px;
  pre{
    display: block;
    overflow: auto;
  }
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
  img {
    border-radius: 40px;
    display: block;
  }
}
