.login-card {
  width: 400px;
  margin: 40px;
  pre {
    display: block;
    overflow: auto;
  }
}

.login-header-image {
  background-size: cover;
  img {
    border-radius: 40px;
    display: block;
  }
}

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f1f1f1;
}
